@{
    ViewData["Title"] = "Twoja rola!";
}

<div class="container-fluid p-0">
    <div class="header-section text-center">
        <h1>Twoja supermoc: Przyjaciel w beerpongu</h1>
    </div>

    <div class="image-section">
        <img src="https://via.placeholder.com/300" alt="Zdjęcie przedstawiające rolę">
    </div>

    <div class="description-section">
        <div class="material-card">
            <p>Wybierasz osobę, która może pomóc Ci w beerpongu. Do wyboru masz: pomoc w piciu kary, rzut za Ciebie, wymiana osoby z drużyny. 
                Korzystaj odpowiedzialnie! 😅 </p>
        </div>
    </div>
</div>