@{
    ViewData["Title"] = "Twoja rola!";
}

<div class="container-fluid p-0">
    <div class="header-section text-center">
        <h1>Twoja supermoc: Skipnięcie kolejki do kibla</h1>
    </div>

    <div class="image-section">
        <img src="~/Assets/freebather.jpeg" alt="Zdjęcie przedstawiające rolę" width="300px" height="300px">
    </div>

    <div class="description-section">
        <div class="material-card">
            <p>Użyj swojej supermocy do tego, żeby prześcignąć 14 osób w kolejce do kibla i od razu zajmujesz toaletę dla siebie. Rozegraj to dobrze, w kluczowym momencie! 😅</p>
        </div>
    </div>
</div>