@{
    ViewData["Title"] = "Twoja rola!";
}

<div class="container-fluid p-0">
    <div class="header-section text-center">
        <h1>Twoja supermoc: Darmowe piwko</h1>
    </div>

    <div class="image-section">
        <img src="~/Assets/freebeerer.jpeg" alt="Zdjęcie przedstawiające rolę" width="300px" height="300px">
    </div>

    <div class="description-section">
        <div class="material-card">
            <p>Wygrywasz piwko, od gospodarzy. Gratulacje!! (tylko się nie opij 😅)</p>
        </div>
    </div>
</div>