@{
    ViewData["Title"] = "Home Page";
}

<div class="centered-card">
    <h1>Nie ma tutaj nic</h1>
    @if (Context.Request.Cookies.TryGetValue("Role", out string? role))
    {
        <p>Chcesz zobaczyć swoją supermoc znowu?</p>
        <a href="Roles/@role">➡️ Kliknij mnie, aby zobaczyć swoją supermoc ⬅️</a>
    }
</div>