@{
    ViewData["Title"] = "Home Page";
}

<div class="default-card">
    <h1>Nie ma tutaj nic</h1>
    <p>Wróć do Twojej Roli, aby znaleźć interesujące informacje.</p>
    <a href="#">Wróć do Twojej Roli</a>
</div>
